In [49]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [50]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [51]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [52]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [53]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [54]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()

In [55]:
df['time'] =encoder.fit_transform(df['time'])

In [56]:
df['time']

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int64

In [57]:
x =df.drop('time',axis=1)
y=df['time']

In [58]:
y

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int64

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [60]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [61]:
categorial_cols =['sex', 'smoker', 'day']
numerical_cols =['total_bill', 'tip','size']

In [62]:
num_pipeline=Pipeline(
            steps=[
                ('imputer', SimpleImputer(strategy='median')),
                ('scaler',StandardScaler())
            ]
)

In [63]:
cat_pipeline=Pipeline(
            steps=[
                ('imputer', SimpleImputer(strategy='most_frequent')),
                ('onehotencoder', OneHotEncoder())
            ]
)

In [64]:
preprocessor=ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_cols),
    ('cat_pipeline', cat_pipeline, categorial_cols)
])

In [73]:
x_train=preprocessor.fit_transform(x_train)

x_test=preprocessor.transform(x_test)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [74]:
from  sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [67]:
models={
    'Random Forest': RandomForestClassifier(),
    'Logistic Regression' :  LogisticRegression(),
    'Decision Tree' :DecisionTreeClassifier()
}

In [68]:
from sklearn.metrics import accuracy_score

In [69]:
def evaluate_model(x_train,y_train,x_test,y_test, models):
    report={}
    for i in range (len (models)):
         model=list(models.values())[i]
         model.fit(x_train,y_train)

In [70]:
y_test_pred= model.predict(x_test)

NameError: name 'model' is not defined

In [71]:
test_model_score=-accuracy_score(y_test,y_test_pred)

NameError: name 'y_test_pred' is not defined

In [72]:
report[list(models.keys())[i]] =test_model_score

NameError: name 'test_model_score' is not defined